@model TiendaCRUD.Models.ViewModels.EmpleadoViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>Nuevo</h2>


@using (Html.BeginForm("Editar", "Empleado", FormMethod.Post))
{
    <div class="row">
        <div class="col-12 ">

            <!-- id ocutop de empleado-->
            @Html.HiddenFor(d => d.id_empleado) <!-- Campo oculto del id -->



            @Html.LabelFor(d => d.nombre, htmlAttributes: new { @class = "form-label" })
            <br />
            @Html.EditorFor(d => d.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(d => d.nombre, "", new { @class = "text-danger" })

            @Html.LabelFor(d => d.apellido, htmlAttributes: new { @class = "form-label" })
            <br />
            @Html.EditorFor(d => d.apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(d => d.apellido, "", new { @class = "text-danger" })


            @Html.LabelFor(d => d.telefono, htmlAttributes: new { @class = "form-label" })
            <br />
            @Html.EditorFor(d => d.telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(d => d.telefono, "", new { @class = "text-danger" })



            @Html.LabelFor(d => d.cedula, htmlAttributes: new { @class = "form-label" })
            <br />
            @Html.EditorFor(d => d.cedula, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(d => d.cedula, "", new { @class = "text-danger" })

            <!-- sleect con el nombre dle puesto segun el id -->
            <div class="form-group">
                @Html.LabelFor(model => model.id_puesto, "Puesto", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.id_puesto, (IEnumerable<SelectListItem>)ViewBag.Puestos, "-- Seleccionar Puesto --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_puesto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
            <a class="btn btn-danger mt-3 mb-3" href="~/Empleado/">Regresar</a>


        </div>
    </div>

    
}


